<% javascript_include_tag 'instascan.min.js' %>
<video id="preview"></video>
<h1 id="qrnotice"></h1>

<script type="text/javascript">
  let input = document.getElementById("param");
  let qrnotice = document.getElementById("qrnotice");
  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
  scanner.addListener('scan', function (content) {
    window.open(content, '_blank');
  });
  Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
      scanner.start(cameras[0]);
    } else {
      qrnotice.innerHTML = "Nenhuma câmera detectada!";
    }
  }).catch(function (e) {
    qrnotice.innerHTML = e;
    console.error(e);
  });
</script>
