<table border="1">
  <thead>
    <tr>
      <th>host</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Medições</th>
    </tr>
  </thead>
  <tbody>
    <% @garden.each do |g| %>
      <tr>
        <td><%= g.host %></td>
        <td><%= g.latitude %></td>
        <td><%= g.longitude %></td>
        <td><%= link_to 'Ver detalhes', show_garden_path_url(g.id ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
