<h1>Detalhes do jardim</h1>

<h3>Hostname</h3>
<p><%= @garden.host %></p>
<h3>Latitude</h3>
<p><%= @garden.latitude %></p>
<h3>Longitude</h3>
<p><%= @garden.longitude %></p>

<h3>QR CODE</h3>



<h3>Informações de monitoramento</h3>
